a:hover{
    cursor: pointer;
}

.brand{
    height: auto;
    width: 50%;
}
.brand_phone{
    display:none;
}
.headlines h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 50px;
}
.headlines{
    margin-top: 1%;
}
@media(max-width:1080px){
    .brand{
        display: none;
    }
    .brand_phone{
        display: inline;
        height: auto;
        width: 65%;
    }
    .form-control{
        margin-top: 25px;
       margin-left: 50px;
    }
}